<div id="particles-js">
  <div class="tron-bg" aria-hidden="true">
    <div class="tron-stars"></div>
  </div>
  <div class="header">
      <h1>
        <img class="site-title" src="{{ '/assets/img/site-title.webp' | relative_url }}" alt="{{ site.username }} - {{ site.user_title }}" title="{{ site.username }} - {{ site.user_title }}" width="1209" height="554" loading="eager" decoding="async">
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{site.email}}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/benrowe"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/ben-rowe/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
  </div>
</div>
