<meta name="description" content="">
<meta name="author" content="Ben Rowe">
<link rel="icon" type="image/x-icon" href="{{site.baseurl}}/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/ico/code-break-152-246266.png">
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="{{site.baseurl}}/ico/code-break-144-246266.png">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{site.baseurl}}/ico/code-break-152-246266.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{site.baseurl}}/ico/code-break-144-246266.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{site.baseurl}}/ico/code-break-120-246266.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{site.baseurl}}/ico/code-break-114-246266.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{site.baseurl}}/ico/code-break-72-246266.png">
<link rel="apple-touch-icon-precomposed" href="{{site.baseurl}}/ico/code-break-57-246266.png">
<link rel="icon" href="{{site.baseurl}}/ico/code-break-32-246266.png" sizes="32x32">
